/* Aquí decimos que las siguientes reglas aplicaran al tag body en general. */
body {
  /* Gradiente del fondo */
  background: linear-gradient(-45deg, #16537e, #162026, #16537e, #272a2c);
  background-size: 400% 400%;
  animation: gradient 150s ease infinite;


  /* El ancho del contenido de la página tomará 80% del total de ella
   y estará centrado */
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  /* Pongo un espacio vertical entre los límites de la página y el contenido */
  margin-top: auto;
  margin-bottom: auto;
}

/* Esto hace que la gradiente se mueva */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Cualquier tag de este listado tendrá su texto centrado y usala la siguiente familia de fuentes */
p,
h1,
h2 {
  font-family: "Rubik", Courier, monospace;
  font-size: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

div {
  font-family: "Rubik", Courier, monospace;
  text-align: center;
  margin-left: 250px;
  margin-right: 250px;
}


/* Cualquier elemento con esta clase asignada tendra este tamaño de fuente y un underline*/
.titulo {
  font-size: 40px;
  text-decoration: underline;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.subtitulo {
  font-size: 30px;
}

/* Los elementos de esta clase tendrán texto en itálica y negrita*/
.enfasis {
  font-style: Rubik;
  font-weight: bold;
}

/* Estilo para la barra de navegación */
.navbar ul{
  font-family: "Rubik", Courier, monospace;
  list-style-type: none;
  background-color: #055183; /* Color de fondo original */
  padding: 15px; /* Espacio alrededor */
  margin: 0; /* Elimina márgenes predeterminados */
  text-align: center; /* Centra los elementos de la lista */
}

.navbar li{
  display: inline; /* Coloca los elementos de la lista en línea */
  margin: 0 15px; /* Espacio entre los elementos */
}

.navbar a{
  text-decoration: none; /* Elimina el subrayado por defecto */
  color: white; /* Texto blanco */
  font-size: 18px; /* Tamaño de fuente adecuado */
  padding: 10px 15px; /* Relleno alrededor del texto */
}

.navbar a:hover {
  color: white; /* Mantiene el color blanco en el hover */
}

